
/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* fonts */
body {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #f1f2f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.title {
  text-align: center;
}

.check-icon {
  background-color: #2e8ae6;
  padding: 20px;
  font-size: 30px;
  border-radius: 10px;
  align-self: center;
}

.content {
  background-color: white;
  width: 40vw;
  padding: 10px 20px;
}

.form-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-item #input {
  padding: 10px 0;
  width: 100%;
  border: none;
  font-size: 18px;
  font-style: italic;
}

.item {
  display: grid;
  grid-template-columns: 20px auto 20px;
  padding: 10px 0;
}

.fa-square {
  align-self: center;
  font-size: 18px;
}

.fa-trash-alt {
  align-self: center;
  color: red;
  font-size: 18px;
}

.text {
  font-size: 20px;
  align-self: center;
  padding-left: 10px;
}

.fa-check-square {
  align-self: center;
  font-size: 18px;
  color: green;
}

.lineThrough {
  text-decoration: line-through;
  color: grey;
}

@media screen and (max-width: 480px) {
  .text {
    font-size: 20px;
    align-self: center;
    padding-left: 10px;
  }
}
